<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>GoodMorning</title>
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/main.js"></script>
		<script src="ejs.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
  <script type="text/javascript" src="/docs/weatherapi.js"></script>
  <script type="text/javascript" src="/docs/newsapi.js"></script>
</html>